<div class="container">
  <div class="footer">
    <hr style="margin: 30px 0 10px 0;"/>
    <p>&copy;&nbsp;<a href="#">Author</a> 2015</p>
  </div>
</div>
<link rel="stylesheet" href="/css/style.css"/>
<script src="/scripts/bootstrap.min.js"></script>